[2020-08-07 14:49] vanniaz opened #2 "Multi axis performance"
Hello, this is just a request for clarification, not a real issue.

I have to choose a library to control up to 6 stepper motors at the same time. I do not need interpolation, I only need to start the motors in parallel, possibly with different speeds and different target distances. The acceleration/deceleration ramps will be fixed and equal for all motors.
Now I see that your library is based on

[2020-08-07 15:11] pkerspe commented on #2
I cannot provide any performance measurements, the step signal generation is exactely the same as the one in flexystepper.
The processMovement function is called in a separate task that runs on the second core of the ESP32.

Performance is dependent on multiple factors:
- the interface you want to use to send new position settings to the ESP (obviously the webinterface is using more processing pow

[2020-08-07 15:14] pkerspe commented on #2
BTW the original FlexyStepper was never tuned to performance as in maximum frequency but rather in smooth acceleration and the possibility to change target positions during movement. You should probably check out the SpeedyStepper library instead as stated in the readme of FlexyStepper

[2020-08-07 17:13] vanniaz commented on #2
Thank you for your reply.
Yes, I already have PlatformIO and the ESP32 libraries on my PC, so I will give it a try (I have to choose between ESP-FlexyStepper and Grbl_Esp32).
In my application a simultaneous start of all the axes is not required (i.e. a delay of even a few milliseconds would be tolerated).

[2020-08-07 17:13] #2 closed, assigned to nobody

[2020-10-14 18:12] forna91 opened #3 "mm or degrees?"
Any solution for change the unit from mm to degrees? or reset the position when position is 360.000mm?

[2020-10-14 19:25] pkerspe commented on #3
You can just use steps if you want to set the shaft to a specific degree.
Usually most steppers have a step angle of 1.8 degree for a full step.
If you use microstepping you can break it down accordingly.
So it depends in general on your setup how many degrees of rotation is one step.
Does your stepper driver support microstepping?

In general you will have a Hard Time to move by full degrees if y

[2020-10-14 19:25] pkerspe commented on #3
Please specify what you mean with "reset the position when..." do you want to move the stepper back to, for example zero when you reached a specific position or do you just want to reset the counter in the UI? Or do you want to reset the position counter in the server?

[2020-10-14 19:41] forna91 commented on #3
I have a reduct stepper motor so the precision is not a problem,  in my case the stepper turn a "wheel" and a complete turn is 0- deg, if I do one turn and half I wold like to be at 180° and not 540° or mm in the case of this library, can I reset the position after passed the 359.999mm?

[2020-10-14 20:11] pkerspe commented on #3
You need to answer my question in regards to what you mean by reset, otherwise I cannot help.
Do you just want to rest the value that is displayed in the UI of the stepper motor server or are you using the Rest API or Command line interface and you want to rest the internal counter of the stepper motor server to 0?

[2020-10-15 14:28] #3 closed, assigned to nobody

[2020-10-15 15:50] pkerspe commented on #3
what you need is probably kind of an event listener / callback function registration that allows you to reset the internal step counter.
Something like registerTargetPositionReachedCallback() but for position updates.
It is not implemented at the moment, but it should not be to difficult to implement something likes this with only a little decrease in performance.

[2020-12-09 01:01] 3ricj opened #4 "lots of jitter on step movements"
Hi there,

I was having problems running this as a service at 6khz pulses.   There was breaks in the pulses nearly 20ms (6-10ms typical) long!  That made for very rough movement of the stage at times... it would jitter and chatter.. not to mention cause vibration.

I've started to try and optimize this a bit.  It's much better now -- pretty stable pulses.  I'm still seeing some minor bugaboos (slo

[2020-12-09 01:05] 3ricj commented on #4
Is there any specific reason why it's doing all that work between the rising and falling edge of a short pulse?  Maybe move the HIGH/LOW to be back to back, and process when waiting anyway?   It looks like the DeterminePerdiodOfNextSlep is a bit heavy -- maybe include the clocks taken to process that in the delay for more stable frequency?  But that's a guess.

[2020-12-09 08:44] pkerspe commented on #4
Thank you @3ricj for the effort you put into analyzing the signals and your inputs on this topic.

Your change moves the update task on core 1, but as far as I know this is also the core where the standard arduino function setup and loop are running. So when you move it there, it might interfere with some heavy work on core 1 from your loop().
Did you test what the jitter looks like if you perform

[2021-01-04 18:07] xander-m2k opened #5 "Stepper motor not stepping all steps with this library"
So when I use this library with the following parameters:
```StepsPerRevolution``` : 200
```SpeedInStepsPerSecond``` : 1000 (this corresponds to 500 microseconds in between HIGH and LOW of stepperpin)
```AccelerationInStepsPerSecondPerSecond``` : 2000 (this was my preferred step up and down speed)
```AccelerationInStepsPerSecondPerSecond``` : 2000
I set these values with the corresponding ```set``

[2021-01-04 18:58] pkerspe commented on #5
Thanks you for your report.
Sounds like you are loosing some steps.
I never really checked with an external pulse counter if any step signals are lost, so I cannot for sure say if it is a bug or not.

There are several possible reasons on hardware side that could cause loosing steps:
- to high acceleration or speed-> Try lowering both values to half (or less) and are if you experience the same iss

[2021-01-04 19:34] xander-m2k commented on #5
1. I tried changing ```periodOfSlowestStep_InUS = 1000000.0 / sqrt(2.0 * acceleration_InStepsPerSecondPerSecond);``` to a bigger value so I removed a 0 from that 1000000, which resolves the problem in losing steps, it now of course does not accelerate as smooth, but at least that is where the problem is.
2. It is definitely not the low current, I set it to 1A and that works like a charm, pretty st

[2021-01-04 20:25] xander-m2k commented on #5
Also, maybe something to add to your library.
I am trying to calibrate between two points, so limit switches on both sides. This means I will first be calibrating on the home position (which you do have a function for), and then move to the other side, until the limit switch hits, and setting that as ```MAX_STEPS```, so it cannot move any further than that point.
That means if you try to do an abs

[2021-01-04 22:46] pkerspe commented on #5
Please open a separate ticket for the feature request, this is a different issue than the problem description you opened this ticket for.

[2021-01-04 23:22] #5 closed, assigned to nobody

[2021-01-05 09:17] xander-m2k opened #6 "New feature: calibrating between two points (home and max position)"
I am trying to calibrate between two points, so limit switches on both sides. This means I will first be calibrating on the home position (which you do have a function for), and then move to the other side, until the limit switch hits, and setting that as ```MAX_STEPS```, so it cannot move any further than that point.
That means if you try to do an absolute or relative-move, and that comes above M

[2021-01-09 00:43] Voha888 opened #7 "[E][esp32-hal-misc.c:94] disableCore0WDT(): Failed to remove Core 0 IDLE task from WDT"
I have the message in console:
`[E][esp32-hal-misc.c:94] disableCore0WDT(): Failed to remove Core 0 IDLE task from WDT`
when adding more the one stepper service, but all works fine

I think, we need check disabling watchdog in `void ESP_FlexyStepper::startAsService(void)`

[2021-01-09 00:48] Voha888 opened #8 "Adding stepper without DIR pin"
To save the number of free pins, I needed to implement this, but there is no support in the library.
I could do it if the authors of the project allow

[2021-01-09 12:04] pkerspe commented on #8
Please feel free to submit a pull request, I will check and merge it if all is ok

[2021-01-09 12:06] pkerspe commented on #7
Indeed I never checked this use case of starting multiple services.
Feel free to submit a pull request if you have a working solution

[2021-01-09 22:34] Voha888 commented on #8
I created first pull request in my life, i think it"s ok))

https://github.com/pkerspe/ESP-FlexyStepper/pull/9

Description:
I took into account the contents of the file
### core \ packages \ framework-arduinoespressif32 \ cores \ esp32 \ esp32-hal-gpio.c
We'll assign the default DIR pin number 255:
`void connectToPins (byte stepPinNumber, byte directionPinNumber = 255);`

 For pinMode, a check is

[2021-01-09 22:46] Voha888 commented on #7
This is not a critical check. I thought about adding the following functionality, although I'm not sure if it is in demand:
the ability to specify the core on which it will be executed when creating a Task, for example:

`stepper.startAsService ();`
the task will be created on default core

`stepper.startAsService (0);`
the task will be created on core 0

`stepper.startAsService (1);`
the task wil

[2021-01-09 23:38] pkerspe commented on #7
This is a good idea, I will check on that tomorrow, should be easy to implement

[2021-01-10 00:01] Voha888 commented on #7
If you wish, I can create a pull request with these changes.

[2021-01-10 00:03] #8 closed, assigned to nobody

[2021-01-10 09:52] pkerspe commented on #7
Yes, Please go ahead, I will review ASAP once I receive the PR

Thanks

[2021-01-13 23:34] Voha888 commented on #7
#10

_Due to my poor knowledge of the English language, I did not add comments to the code._
I made two commits.
The first one adds the ability to specify the kernel for the background process
The second, when creating multiple instances of the process (several stepper motors), removes the message from Serial: `[E] [esp32-hal-misc.c: 94] disableCore0WDT (): Failed to remove Core 0 IDLE task from W

[2021-01-14 10:45] pkerspe commented on #7
thanks for the updates @Voha888, I will review tonight and merge if all is good

[2021-01-14 11:34] pkerspe commented on #4
@3ricj can you provide feedback on the above comment?
I assume it is a CPU core related issue as indicated before. Currenlty there is a pull request that allows to define the core on which the service is running, maybe this will help if you use the 1 for the service once this pull request has been merged. It will be available in the next release 1.4.4 but your input on above questions would be hel

[2021-01-15 21:00] Voha888 commented on #7
In the examples, I did not find the use of several stepper motors at the same time.
When you add the changes, I can create an example using multiple stepper motors on multiple processor cores.

[2021-01-15 23:01] pkerspe commented on #7
Sure can do.
I put some comments on your pull request for minor changes to be performed before merging. Maybe you can have a look at it

[2021-01-15 23:14] Voha888 commented on #7
Thank You!
I see you changed the name of my pull request, but I don't see any other fixes. Please tell me where to go to see them?

[2021-01-15 23:54] pkerspe commented on #7
I added some comment on some lines of code that you changed in the pull request

[2021-01-16 05:27] Voha888 commented on #7
Sorry, but I don`t see any your comments on this link https://github.com/pkerspe/ESP-FlexyStepper/pull/10/files
Where have you posted these comments? Give me a link please.

[2021-01-16 10:32] pkerspe commented on #7
Sorry, my bad, I forgot to submit the review.you should see it now

[2021-02-05 00:14] Humanoidx commented on #4
I also encounter an exteme and constant amount of jitter... sometimes it stops for half a second in the middle of a move. Moves fine using other libraries. Any thoughts?

[2021-02-05 12:07] pkerspe commented on #4
@Humanoidx please provide some more details on your setup and code.
500ms breaks are very unusual and do not seem to have the same cause as the previously reported issues. 500ms is kind of an eternity for an ESP32 running at full speed.

[2021-02-06 23:18] Humanoidx commented on #4
@pkerspe

ESP32-Wroom-32D
https://www.amazon.com/gp/product/B0811LGWY2/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

Nema 34 12nm Closed Loop  Stepper
https://www.amazon.com/Nema-Closed-Loop-Stepper-Motor-Driver/dp/B081N9FPRM/ref=sr_1_27?dchild=1&keywords=nema+34+stepper+motor+12nm&qid=1612650156&sr=8-27

Here is a video if it working smoothly with FastAccelStepper Library
https://youtu.be/hPxJ

[2021-02-06 23:23] pkerspe commented on #4
@Humanoidx thx for the hardware details, yet I was more referring to the software code and setup of esp FlexyStepper though :-)
Can you please post your code?

[2021-02-06 23:27] Humanoidx commented on #4
:)
@pkerspe
[code]

[2021-02-06 23:32] Humanoidx commented on #4
@pkerspe
Same issues with ESP-Stepper-Motor-Server

[2021-02-06 23:49] pkerspe commented on #4
Did you try running the FlexyStepper stepper as a service as in example 5?
Also please try with some less aggressive values in acceleration and speed first, something like 2000 steps/second and acceleration of 200 steps/s/s

I know it works with the other library, but we need to narrow down the cause of the problem.

[2021-02-07 00:19] Humanoidx commented on #4
@pkerspe

Just tried it with the less aggressive values, and it is still jerky

Tried example 5 and it is still jerky (particularly when it accelerates or decelerates). But it seemed smooth when it reached the maximum speed.

[2021-02-07 09:27] pkerspe commented on #4
Thanks for the feedback.
Can you try to figure out if your stepper driver reacts on a rising edge or a falling edge on the step input?
So does it require a transition from 0 to 3.3V (rising edge) to send a step to the stepper motor or a transition from 3.3V to 0V (falling edge)?
Since the ESP FlexyStepper stepper library performs quite some calculations between the signal changes this might make a

[2021-02-07 09:45] pkerspe commented on #4
Also one important question: did you connect to the ESP32 with a serial monitor to check if it crashes and performs a reboot/reset? This would explain the very long pauses you experienced before.

[2021-02-07 13:59] pkerspe commented on #4
I did some first tests with alternative methods of generating a square wave signal for step output using some of the build in modules from the ESP32.
A thing I tested so far is the **LED control (LEDC) peripheral** (https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/ledc.html) in **combination** with the **Pulse Counter module** (https://docs.espressif.com/projec

[2021-02-07 14:38] pkerspe commented on #4
Another option to address the step signal generation issue would be to use the Remote Control (RMT) module (https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/rmt.html), using this approach the Step signal frequency could be set by setting the carrier signal frequency (I did not find details in the documentation about the maximum frequency, but since it is a unsi

[2021-02-07 15:55] pkerspe commented on #4
so all this POC code is basically to show that there are other ways to generate pulses than the current approach which is basically bit-banging. But it requires quite some reworking to implement the acceleration / deceleration, and I currently do not have the time to do so. So any help would be highly appreciated.

[2021-02-10 13:59] conaito opened #11 "Strange Movement"
I currently try to get my project done with this library (leaved ESP Stepper Motor Server). Looks like working good so far but have a issue on movements of stepper (in loop function). the stepper rotate correct but on reached position he move a little bit back in other direction before stop and reached target position. can you explain what i do wrong?
[code]

[2021-02-10 16:26] pkerspe commented on #11
nothing is wrong, this is the intended behaviour as you can see in this part of the code:
https://github.com/pkerspe/ESP-FlexyStepper/blob/40d5fcb1a17c60469e6cf681705519c8321761dc/src/ESP_FlexyStepper.cpp#L915

The motor will move towards the limit switch until it is triggered, then it will move back until the switch is released and then move towards the switch with slower speed to get the exact p

[2021-02-10 16:35] conaito commented on #11
oh you may understand me wrong. this i have see and love it but thats not i talking about. i mean in the loop function of my code all positions movements do that

[2021-02-10 16:41] pkerspe commented on #11
maybe you are moving in the wrong direction and continuously trigger the limit switch?
You set the variable `previousDirection` to 1 and never change it again. So you move to the limit switch in a positive direction.
then in the loop you always call `moveRelativeInSteps`with a positive value as well...the seems strange, maybe it should be a negative value there.
But not sure, just a guess for now

[2021-02-10 16:43] conaito commented on #11
can‘t not really be the point. exact same issue are with one of your original examples

[2021-02-10 19:33] conaito commented on #11
is there any chance that you soon can look to this?

[2021-02-10 21:16] pkerspe commented on #11
ok, I tested it and can confirm your observations. Need to look into the possible cause on the weekend

[2021-02-10 21:30] conaito commented on #11
great!! thank you so much. hope you find the issue

[2021-02-10 21:48] pkerspe commented on #11
Found the issue: you are starting the stepper library as a service but then only use blocking calls.
Remove the line `stepper.startAsService();`and it will work without the overshooting.
Or you start it as a service and only use the non blocking functions with callbacks.

[2021-02-10 21:48] #11 closed, assigned to nobody

[2021-02-10 23:52] Humanoidx commented on #4
I wish i could help but mannnn this is over my head

[2021-02-11 09:58] pkerspe commented on #4
I will investigate a bit further in the near future, but it is a time consuming change, but certainly a good one in regards to stability and much cleaner signal generation. But as often the devil is in the details :-) So I don't expect this to be an easy one.

[2021-02-11 10:15] pkerspe commented on #4
@Humanoidx did you try the changes suggested by 3ricj in his opening post?
By changing the core for the service you will probably reduce jitter quite a bit and you could additionally increase the priority of the task a bit (say 2 or 3) to give it higher priority over other tasks. I did not experiment with these values and am not sure about the side effects but you could try.

So basically you can

[2021-02-11 11:09] dcentri opened #12 "Deceleration with position rather than speed."
HI,

Thanks for this awesome project. Am having an issue with the `setTargetPositionToStop() ` function.
I was trying to achieve continuous motion with the library and settled for calling `setTargetPositionRelativeInSteps(CONSTANT)` so I basically extend the relative position whenever the target is almost reached.
I just realized there is two issues with this.

1. When I call `setTargetPositionToS

[2021-02-11 11:54] pkerspe commented on #12
Can you please describe what you actual goal in your project is?
If you only want to spin the motor for an unlimited time at a constant speed, this libaray is totally overkill, you can just setup the PWM module of the ESP to output a PWM signal with the required frequency and you are done.
If you need a specific number of pulses only you can combine with the hardware pulse counter module.
I posted

[2021-02-11 16:11] dcentri commented on #12
I am working on a paper separation mechanism. Kind of like a printer, picking a paper from a stack but with a lot of variability on paper size and type. I need to coordinate 2 motors as per my design.

I have limit switches that start and stop the the motors and everything seems to work well, except that when I call the `setTargetPositionToStop()`. The motor seems to keep moving as though it is mo

[2021-02-11 19:13] pkerspe commented on #12
Please provide your complete code you are using for further checks

[2021-03-08 17:33] digitalbird01 opened #13 "How is the stepper driver enabled?"
I am running with TMC2209 drivers and have tried running your example scripts to no avail the stepper does not move am I missing a trick?
I notice that nowhere in the script is there reference to an  EN pin to engage/ disengage the driver.
I am currently trying to port my camera motion control system over to the ESP32 but having great difficulty finding a working library.

[2021-03-08 18:33] pkerspe commented on #13
You need to drive the EN Pin manually / by your own code or permanently activate it with a direct connection to to VCC (or GND, whatever the driver needs to be enabled)

[2021-03-22 08:55] une18 opened #14 "Physical button for start and stop"
Hi!

Nice software, thank You!
This probably is already possible, but i could not find in the documentation how to start and stop it with a physical button.
I have now used it for motor and driver testing purposes only.
If there was more possibilities, it could be useful in many projects.

1) Is it possible to start and stop with buttons connected to ESP32 pins?
2) Is it possible to create, store

[2021-03-22 20:06] pkerspe commented on #14
1. yes, it is possible by writing your own C++ code in your main.cpp file (or arduino project file). For stopping you can use the emergency switch function
2. yes, you can use the blocking functions for ease of use or use the functions with callbacks to use a more elegant way to chain those commands.
3. Yes, you can user regular timers of the ESP32 to trigger function in the library. This is not a

[2021-04-08 11:00] anggiatm opened #15 "How to invert the motor direction?"
im new in c++ programing,
i use this library for dual wheel robot,
the right wheel is normal direction
but the left wheel is flipped
for moving forward just simply call the function
e.g
`motor_right.setTargetPositionInMillimeters(target);`
`motor_left.setTargetPositionInMillimeters(-target);`
for long code im so confusing in `-` symbol

i think to solve the problem just simply invert the left moto

[2021-04-08 11:50] pkerspe commented on #15
well, you provided the solution already: you simply invert the value for the second motor, that is the easiest way for sure.
You have three other alternatives I come up with spontaneously:
**1. do it in hardware:**
Add a a signal inverter to the pin that controls direction of the second stepper motor. You can use a simple NOT gate to do this. It will simply convert the high signal to a low signal

[2021-04-08 11:52] #15 closed, assigned to nobody

[2021-04-08 11:52] #13 closed, assigned to nobody

[2021-04-09 12:10] anggiatm commented on #15
whoa.. just thought resolved with hardware modification, but i wil not add extra IC
i will swap one coil pair of motor. i found from this [link](https://electronics.stackexchange.com/questions/70643/how-to-reverse-rotation-direction-of-stepper-motor#:~:text=To%20change%20direction%20you%20need,with%20the%20same%20drive%20signal.)
but if the library have invert function that awesome. like `motor_le

[2021-04-21 05:45] plague-doctor opened #16 "Spinning and spinning and spinning...Jogging function to be added"
Hi, your lib is awesome! Thank you very, very much for writing it.
Is there a way to just keep rotating the stepper with a desired speed for very, very long time? Without specifying when to stop? Just keep spinning until the end of time... or a condition is met.

[2021-04-21 09:00] pkerspe commented on #16
Hi @plague-doctor
thank you for your feedback.
I think the function you are looking for is generally referred to as "jogging".
Currently the library does not implement this function. You could of course set the target of the movement to an incredibly high number, but it would still come to an end at some point.

Depending on your use case you could probably get away with a much simpler approach th

[2021-04-21 21:33] plague-doctor commented on #16
@pkerspe Yes it helps indeed. However when I have finally found your lib, and it allows me to run the motor as a service, I can do whatever "perversion" I want in the main loop. I can monitor and/or update the speed over the network. You have spoiled me with your lib :-)
So taking the motor for a jogging, and run this as a service, is what I really want. I do not want to loose the acceleration fea

[2021-04-22 08:50] pkerspe commented on #16
ok, if it wasn't for the acceleration feature, the PWM solution would be best for you, since it runs in Hardware and leaves the CPU completely free for other tasks (given that your MCU has a hardware PWM module, which most MCUs have).
But of course out of the box this does not come with an hardware "acceleration function" or slow ramp up on Arduinos.

At the end what you need is based on most LED

[2021-04-22 21:53] plague-doctor commented on #16
Thank you for the explanation. I have found a workaround for huge numbers (I just calculate them of fly in the main loop and always grow).
I will wait for you to find few minutes to implement the jogging function. I wish I could help with a PR but my C++ skills are a bit rusty.

[2021-05-02 15:45] TPD95100 opened #17 "Slow speed seem not to work: Step Frequency lower than 32 Hz not supported"
I am working on a project where I need speed of 1 to 100 steps per second. I use the following code in a test:

[code]

There is no difference at speed 10, 20 and even with 30 I saw no increase. Only with 50 I saw a slightly fester movement.

Is there a problem with slow speeds?

[2021-05-02 21:34] pkerspe commented on #17
are you using microstepping on your stepper driver?
Also for testing set maybe a larger position value to rule out problems with the acceleration on a short trip

[2021-05-02 21:51] TPD95100 commented on #17
I somehow solved the problem by enabling microsteps so that I do not need the very low frequency. The motor has lost torque due to the microsteps but it still works.

So, from my side all OK but I just wanted to report this issue as it is a quit unexpected behaviour (I would assume that high frequency’s are more challenging than very slow ones ...)

In also made the experienced that setting the st

[2021-05-02 22:10] pkerspe commented on #17
I guess what you are experiencing with the motor still spinning is either a problem of combining blocking and non blocking functions (see doc) or the deceleration algorithm has issues with the low speeds and overshoot. Did you check if the stepper eventually stops after some time of spinning slowly?

There is an emergency stop function with Should rapidly stop the motor.
After all when you set a t

[2021-06-12 11:10] kang2k10 opened #18 "issue with jogging"
i use softlimit.
While buttonLeft is pressed, i  use stepper.startJogging(-1);
If buttonLeft is relesed, i use stepper.stopJogging();
After, i press buttonSoftLimitLeft, and use stepper.setCurrentPositionInSteps(0);
and after this, stepper clear position, and move

13:36:33.042 -> current position=843   // after stop jogging
13:36:33.042 -> set left limit                  // after press  buttonSof

[2021-06-12 11:26] kang2k10 commented on #18
I somehow solved the problem
i use this construction
      stepper.setCurrentPositionInSteps(0);
      stepper.setTargetPositionInSteps(0);

[2021-06-12 11:37] pkerspe commented on #18
I am sorry, but can you explain what your issue is actually?
Did you call setCurrentPositionInSteps(0) after the stepper has come to a full stop? (physically)? If not, add a little delay

[2021-06-12 11:51] kang2k10 commented on #18
yes. i call setCurrentPositionInSteps(0) after the stepper has come to a full stop.
for debbug, i call Serial.println(getCurrentPositionInSteps()); in loop
before i call setCurrentPositionInSteps(0) , in serial - 843
after stop move, and call setCurrentPositionInSteps(0);
in serial - 0
stepper is running, and in serial 1,2,4...843. after stepper is stop.

imho, issue in TargetPosition. I set curre

[2021-06-12 13:18] pkerspe commented on #18
It is a bit hard to follow your explanation, please post your full sketch here so I can reproduce it.
Thx

[2021-06-12 19:41] kang2k10 commented on #18
[code]

[2021-06-13 13:03] pkerspe commented on #18
thanks for the code.
Some questions:

1. It seems you do some software debouncing on the limit switch (btn_left_end), but not on the "btn_left" switch, is debouncing done in hardware on this pin?
2. in your code you are testing the btn_left status independent from the limit switch? which basically allows jogging (Even if just for one step) while the limit switch is pressed. shouldn't any pressing

[2021-06-13 14:20] kang2k10 commented on #18
This code, is simple. My project use MCP23017, and hardware debounce. Sorry, but english not my language.
i read current position in:
    Serial.print("curr_position=");
    Serial.println(stepper.getCurrentPositionInSteps());

With press button "left" ,motor is jogging in counterclock-wise.  ( stepper.startJogging(-1); )
After release button "left", motor is stop ( stepper.stopJogging(); )
After

[2021-06-15 09:57] HoinJitGub opened #19 "Sign Ignored in stepper.moveRelativeInSteps"
Hello

Issue using Example1_BasicStepper.ino

1. Built ESP_FlexyStepper for ESp32_Devkitc_V4 with VSCode, PlatformIO on Ubuntu 18.4, using a TB660 driver. The motor only spins in the same direction with both of the statements stepper.moveRelativeInSteps(200) & stepper.moveRelativeInSteps(-200).

2. Built FlexyStepper for ESp32_Devkitc_V4 with VSCode, PlatformIO on Ubuntu 18.4, using a TB660 driver

[2021-06-15 13:21] pkerspe commented on #19
Hi,

as for your issued:
1.) I would guess the direction pin is not connected correctly
2.) not sure what the difference is to one
3.) same issue with direction pin
4.) not sure how to eyplain that, other then you setup the GPIO Pins differently or wired it up differently
5.) not sure, I cannot support Arduino and FlexyStepper LIbrary (maintained by another developer)

So what you are saying only

[2021-06-15 15:17] HoinJitGub commented on #19
Hello

I thank you for your prompt and detailed response.

Test 2. As ESP-FlexyStepper was derived from FlexyStepper, the latter was tested with an ESP32 to determine whether this issue was solely related to the extensions in ESP-FlexyStepper; Test 2. demonstrates that it is not.

Test 3. demonstrates that the issue is not restricted to the ESP32.

Test 4. demonstrated that the TB6600 was working

[2021-06-15 15:18] pkerspe commented on #19
I close this issue here, since I do not see this as a problem of the library, but feel free to reply to my response and we can discuss further on this topic

[2021-06-15 15:18] #19 closed, assigned to nobody

[2021-06-15 15:26] pkerspe commented on #19
please post the link to the datasheet of the exact stepper driver Unit you are using, maybe I can have a look at it.
Which tools do you have available for hardware analysis?
Multimeter, Oscilloscope, Data Logger?

[2021-06-15 15:43] HoinJitGub commented on #19
I suggest that you wait until I have applied your test and renewed all of the wiring on Wednesday. I have a logic analyser with pulseView and will use it if the issue persists.

The driver was supplied without documentation. However it appears to be one of many clones, such as https://www.makerguides.com/wp-content/uploads/2019/10/TB6600-Manual.pdf.

[2021-06-15 16:01] pkerspe commented on #19
Did you use the Common Cathode or Common Anode wiring setup?

[2021-06-15 16:25] HoinJitGub commented on #19
These tests were Common Anode. I will also try Common Cathode with this library tomorrow. Both were used successfully with previous UNO tests in Arduino IDE.

[2021-06-25 03:15] vitalibr opened #20 "goToLimitAndSetAsHome and limit switch"
hi!

I'm trying to understand the code to understand how this function goToLimitAndSetAsHome uses the limit switch if there is no way to inform the limit switch pin.

I was using the moveToHomeInSteps, but goToLimitAndSetAsHome is a non block function (better for me).
Do I need to check the limit switch in my main loop the same way in this example? https://github.com/pkerspe/ESP-FlexyStepper/blob/

[2021-06-25 03:20] vitalibr commented on #20
Ok, so probably I need to use setLimitSwitchActive in my main loop to trigger the limit switch for the ESP-FlexyStepper

[2021-08-29 15:14] dansoskin opened #21 "SetSpeed(0) doesnt stop the motor"
hey, id like to use jog functions and change speed on the go, but setting the speed to 0 doesnt stop the motor and it keeps spinning slowly

[2021-08-29 17:52] pkerspe commented on #21
Did you try setting the distance/target to zero?

[2021-08-29 17:57] pkerspe commented on #21
Since you also stated you use the jogging function, did you actually call the stopJogging() function?

[2021-08-29 18:03] dansoskin commented on #21
I want to perform PID on the motor's speed, and I need the motor to stop when the PID output equals to 0

in the library, the setspeed command calculates the interval time by dividing:
desiredPeriod_InUSPerStep = 1000000.0 / desiredSpeed_InStepsPerSecond;
so it divides by zero

maybe theres some kind of quick fix to make the motor stop when the setspeed(0) function is called?
what is the lowest sp

[2021-08-29 18:28] pkerspe commented on #21
Just call stopJogging function instead of setting speed to zero.
Should be a very simple if/else statement in your code.
As you mentioned already there will be a divide by zero issue when you use an invalid speed value.
Also the reason for the slow movement you are expecting might be due to rounding issues in the stepping speed calculation routine.
The library simply considers traveling with a spe

[2021-08-29 19:02] dansoskin commented on #21
alrighty, thanks for the quick response

[2021-08-29 19:02] #21 closed, assigned to nobody

[2021-09-22 08:46] xander-m2k commented on #4
I have struggled with this issue before, researched the ESP32 docs and lots and lots of forums. It turns out core 1 does not go much faster dan a 1000 cycles per second, no wonder I had so much jitter. Just try to schedule your program well on core 0 and the steppermotor runs very smooth!

@pkerspe I would just advice to stop using core 1 for the stepper motor, core 1 should only be used for tasks

[2021-09-26 09:59] lifankohome commented on #18
**I'm sure that 'setCurrentPositionInSteps' wil move the motor unexpected.**

Reason: function 'processMovement' monitor the difference of 'targetPosition_InSteps' and 'currentPosition_InSteps'.
[code]
Function 'setCurrentPositionInSteps' only change the value of 'currentPosition_InSteps':
[code]
So if the motor is stop, 'distanceToTarget_Signed' would be a value not zero, and the motor will move.

[2021-09-26 20:24] pkerspe commented on #18
@lifankohome I do not see how your post is related to this issue.

Also I think you misunderstand the purpose of the setCurrentPositionInSteps() function.
The purpose is NOT to stop the stepper motor at the current position, but to tell the ESP Flexy Stepper library at which "position" the stepper currently is. This can be used for setting e.g. a homing position or any other position in some kind

[2021-09-26 20:30] pkerspe commented on #18
I close this issue, since it seems all a misunderstanding of the function to use. As @kang2k10 wrote, the solution to the problem has been provided by himself basically:

[2021-09-26 20:30] #18 closed, assigned to nobody

[2021-09-26 20:46] pkerspe commented on #4
@xander-m2k thank you for your input.
Just a minor "correction": as far as I am aware, core 1 is running at the very same speed as core 0.
But due to the other tasks that the ESP32 is performing in FreeRTOS (specifically the WiFi Stack and probably some other housekeeping routines) the ESP Flexy Stepper task has to share the clock cycles with these other tasks depending on which core it is running

[2021-09-26 21:00] xander-m2k commented on #4
@pkerspe I'm sorry, I was confused, it has been a while since I used the ESP32. So Core 1 is indeed the main core for your main Arduino/ESP program.

So to elaborate on how this works; in FreeRTOS you're only able to utilize core 0 by starting a task, with xTaskCreatePinnedToCore().

These tasks are ran by a with called 'tickrate' and currently the SDK only supports a tickrate of about a 1000Hz. T

[2021-09-27 01:46] lifankohome commented on #18
I just don't understand the description of Function 'setCurrentPositionInSteps':
**set the current position of the motor in steps, this does not move the motor**
And why the motor does move if the function was called :-)

[code]

[2021-09-27 07:02] pkerspe commented on #18
The purpose of this function is to purely set a position value. It's purpose is not to move the stepper to a specific position. If your target position points to another value than the value given to this function you implicitly trigger a move. Just update your target position to the newly set position value and you will be fine.

[2021-09-27 08:23] pkerspe commented on #4
@xander-m2k thanks for the update about the ticks, I checked the documentation of FreeRTOS (https://www.freertos.org/implementation/a00011.html) to better understand this task management routine.

I read it a bit differently than your explanation, since in my understanding a task does not get 1000 CPU cycles or "1000hz", but a maximum continuous processing time before a task _might_ be suspended b

[2021-09-27 15:54] xander-m2k commented on #4
@pkerspe you're very complete in your answers sir, loving it.

I was using the Wifi capability while experiencing this jitter indeed, and was reaching about a 1000 cycles per second in my case, I don't remember how I measured it but it was about that amount.

Anyway, I think it is good to mention in the README that when using Wifi/Bluetooth/BLE it is not advised to use core 0.

[2021-09-27 19:44] pkerspe commented on #18
@lifankohome I updated the documentation for the setCurrentPositionInXXX functions in the Readme and inline documentation to make it clearier for future users: commit cdb6b51

[2021-09-27 20:30] pkerspe commented on #4
@xander-m2k  as suggested I updated the README file with some content on the jitter topic

[2021-10-11 09:13] hnnswldschtz commented on #4
@pkerspe did you concider using the mcpwm feature of the ESP32?
the fastAccelStepper library is using them. They also state, that ledpwm wouldn't work for steppers.  [https://github.com/gin66/FastAccelStepper](url) (scroll down for the "behind the curtains" section)
This is a bit above my level, so I'm only able to point at this, not really able to help coding it.

[2021-10-11 11:00] pkerspe commented on #4
@hnnswldschtz  thanks for the link, this is an interesting piece of information and might be useful in the future.
Unfortunately, I do not see any explanation why the ledpwm function is not an option. it only says "ledpwm modules cannot be used for steppers, too." (and I am not sure if this refers to the previous sentence that only applies to ESP32-S2 and C3).

The comments regarding the mcpwm mod

[2021-10-11 12:21] hnnswldschtz commented on #4
Compatibility is an issue, you are right.
Just checked the datasheets: WROVER, WROOM and the rather new ESP32-S3 provide MCPWM.

[2021-11-05 03:31] charlessowers opened #22 "platformio will not compile example code, says CallAsService expects 0 arguments"
I cut and pasted the example code in the Readme.md  and added #include <ESP_FlexyStepper.h> but when I try to compile and load it,  Platformio gives me the following error:

If I change the line to "stepper.startAsService();" the program compiles, loads, and runs.

Looking at the source code on GitHub I see that startAsService takes an int for an argument but it looks like for some reason Platform

[2021-11-05 14:09] pkerspe commented on #22
Thanks for pointing that our @charlessowers
I just noticed that the tag name was not consistent (was "1.4.4" instead of "v1.4.4") so I re-published the release.
As for platform.io you can check in the ".pio/libdeps" folder which dependencies have been downloaded and in which versions.
Let me know if that fails, I can create a new release 1.4.5 and publish it, to see if that fixes the problem.

[2021-11-06 21:03] charlessowers commented on #22
I uninstalled ESP-FlexyStepper in pio using the library manager and installed it again. I get the same error when trying to run the example from the readme on this git. There is a library.properties file in the .pio/libdeps/ESP-FlexyStepper and line 2 has "version=1.4.4"  same with the library.json file "version": "1.4.4", platformio.ini has "pkerspe/ESP-FlexyStepper@^1.4.4"

[2021-11-06 21:47] pkerspe commented on #22
Did you check the actual code in the Libdeps folder? (I mean the header file and actual cpp file)
1.4.4 is the latest version and when I check the tag in GitHub it show the new method signature with the int parameter.
Anyway, I will publish an new release tomorrow to see if that convinces platformio to load the right tag :-)

[2021-11-06 22:15] charlessowers commented on #22
The source code in the libdeps folder has the startAsService function with zero args
void ESP_FlexyStepper::startAsService(void)

[2021-11-07 14:46] pkerspe commented on #22
I published a new release (1.4.5) hope that helps. Will most likely take a while for platformio lib manager to pick it uo

[2021-11-07 17:44] charlessowers opened #23 "Set speed is slow by about 1.94x"
I am using a digital tachometer and am finding that setting the speed is off by about 1.94 times. Is this specific to my board's clock speed? It has been difficult to get specifics on my ESP32 board but I believe my clock speed is 240MHz.

[2021-11-07 18:40] pkerspe commented on #23
the factor of 1.9 is way to high to be a clock speed issue. I assume you might have micro stepping activated on your driver or maybe you are using acceleration values that are too conservative. All hard to tell without any details on your setup.
I never measured the speed, to be honest, this part has been taken from the original FlexyStepper Library.
Still I believe there is a good chance the prob

[2021-11-08 20:09] charlessowers commented on #23
I haven't tried FlexyStepper but I get the correct speed with AccelStepper. I am driving a Teknik Clearpath SDSK servo motor that takes step and direction input. The driver doesn't microstep but it does have variable steps per revolution. When I set ESP-FlexyStepper to the same steps per revolution as the motor, the speed seems to always be slower by about a factor of 1.9. I am charting various st

[2022-02-04 07:15] johnsmakar opened #24 "Cannot get rid of slight shakes WiFi adds"
First of all, Thanks for a great library!

I was able to get to put together a quick test via Serial for testing this lib with my driver:
[code]

My next step was to add WiFi functionality to control my stepper motor wirelessly. I notice a tiny bit of vibration has been introduced into the stepper.

I have been messing around changing the core that runs `startAsService()` and trying to find the be

[2022-02-04 08:32] pkerspe commented on #24
In my opinion you already did all the right steps by changing the core and experimenting with priorities.
In my use cases I was not focussing that much on the vibrations of the motor so I never inspected it all the way. There is another thread though where I pointed out some possible refactoring of the library to move the output signal generation to a hardware module rather than "bit banging".
Thi

[2022-02-23 01:16] AdrianMolecule opened #25 "[E][esp32-hal-misc.c:111] disableCore1WDT(): Failed to remove Core 1 IDLE task from WDT"
Hi,

I'm trying to use this library to just start a servo and rotate it forever and keep getting this error "[E][esp32-hal-misc.c:111] disableCore1WDT(): Failed to remove Core 1 IDLE task from WDT"
and some strange repeated movements. Any idea?
Thank you,
Adrian

void setupStepperMotor() {
	Serial.println("Setup Nema ===============");
	pinMode(STEP_PIN, OUTPUT);
	pinMode(DIR_PIN, OUTPUT);
	pinMod

[2022-02-23 19:33] pkerspe commented on #25
I suggest not to call the function without any delay in the loop function.
Your stepper will not spin that fast that you need to call the function that often and without delays.
Try a delay of maybe 1 or more seconds in main loop.
In general if your only goal is to spin the motor continuously without ever stopping, you might want to use the pwm function of the esp directly with your desired freque

[2022-03-06 21:48] Steve5656 opened #26 "How to utilize getCurrentPositionInMillimeters() in flexystepper?"
Hi,
I am currently using flexystepper to control a single axis for a plasma cutting application.  It is all working well except I can not figure out the syntax for the getCurrentPositionInMillimeters() function.  I have tried using the following to store the current position in a variable register: CurPos=stepper.getCurrentPositionInMillimeters();.  However this does not seem to work?  Can anyone

[2022-03-07 13:26] pkerspe commented on #26
Hi @Steve5656, great to hear of use cases where the library is used!
Could you please provide the relevant code snippets of your variable / register declaration and describe what the acutal problem is you are facing, what is the return value of getCurrentPositionInMillimeters()  in your current code?

**Note:** you have to call "stepper.setStepsPerMillimeter(...);" to tell the library how many ste

[2022-03-08 02:46] Steve5656 commented on #26
pkerspe,
Thanks so much for the prompt response.  I ran the code you sent me tonight and it worked fine.  After that I compared my code to what you provided and found out that I had some errors not related to ESP_FlexyStepper that were causing the value of stepper.getCurrentPositionInMillimeters() to actually be zero.  After knowing that stepper.getCurrentPositionInMillimeters() was working proper

[2022-03-08 16:06] #26 closed, assigned to nobody

[2022-03-13 10:19] renno-bih commented on #16
This feature will be very helpful, it will be great to see it in the future.

[2022-03-16 22:09] poyraz-birusk opened #27 "Constant speed"
Sorry since this is rather a question, I was wondering how it would be to control a stepper speed without any position information. If I want to run the speed constantly with for example using speedInMillimetersPerSecond or speedInRevolutionsPerSecond

[2022-03-18 14:56] pkerspe commented on #27
what you are looking for is the Jogging function, this is a duplicate of the feature Request #16

[2022-03-18 14:57] #27 closed, assigned to nobody

[2022-03-18 14:57] pkerspe commented on #24
closing since this is a duplicate of #4

[2022-03-18 14:57] #24 closed, assigned to nobody

[2022-03-18 17:21] pkerspe commented on #23
to catch up on this topic here, I connected an Oscilloscope to the ESP and set the stepper on a long journey with 2000 Steps/Second (2khz) and measured the output. The generated signal was between 1.92 and 1.99 khz, so in the expected range (actually a bit low, but that might be due general jitter issue (I tested it by running the webserver in parallel and being connected to the websocket which ge

[2022-03-18 17:21] #23 closed, assigned to nobody

[2022-03-18 17:22] #22 closed, assigned to nobody

[2022-03-18 17:32] pkerspe commented on #17
After a long time I digged out the Oscilloscope and verified your observations. It seems that around 32 hz is the lowest step frequency that is working. Values below that will always result in at least 32 hz stepping frequency. Values above seem to be fine.

[2022-03-20 19:47] pkerspe commented on #4
I started experimenting a bit again on this topic, the MCPWM peripheral seems not to be present in the ESP32-C3 and ESP32-S2 variants, thus I am not fancying this approach. I figured the LED Control (LEDC) module is present in all variants (S2, S3, C3) according to the documentation of Espressif (https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/search.html).
I figured how to use the i

[2022-03-23 12:35] adapt-to-it opened #28 "[E][esp32-hal-misc.c:94] disableCore0WDT(): Failed to remove Core 0 IDLE task from WDT"
Hi there, i'm making my own project using your library.
The current setup is: 2 stepper motor with tmc2208 in step/dir confg, the first is set in Rotation and the second is set in Millimeter.

The two big problems is the sync of motion betwen the two stepper and the autio-reset of the esp32 when i sent the
ESP_FlexyStepper::moveRelativeInRevolutions() comand.

The fist error occurred during the st

[2022-05-04 03:34] ba58smith opened #29 "Using emergencyStop(true) and releaseEmergencyStop"
I would like to be able to `emergencyStop()` in the middle of a "trip" (from 0 to 300mm, for example), then after a pause, `releaseEmergencyStop()` and have the "trip" pick up where it left off. But I see that `processMovement()` sets directionOfMotion to 0, and (more important) sets `targetPositionInSteps = currentPositionInSteps`, which terminates the original "trip".

If I want to just resume w

[2022-05-04 07:06] pkerspe commented on #29
Hi @ba58smith,
using the callbacks should be possible, since they are called before the actual positions/parameters are reset.
I do not see that it should be part of the library to resume operation with the previous parameters, once an emergency stop is released.
Imagine a machine that is stopped due to an emergency and after a while of fixing the cause of the emergency or while still fixing it, s

[2022-05-04 07:06] #29 closed, assigned to nobody

[2022-05-04 13:31] ba58smith commented on #29
@pkerspe - I absolutely agree that restarting where you left off shouldn't be the default behavior. But maybe another version of emergencyStop() that WOULD save all the parameters, so that releaseEmergencyStop() COULD pick up where it left off? Or, maybe safer, always have emergencyStop() save those parameters, but have two versions of releaseEmergencyStop() - one that does exactly what it current

[2022-05-04 13:35] pkerspe commented on #29
I guess the route you described, making it a separate function call to resume, could be an option.
Feel free to submit a PR.
Yet keep in mind, that once the Emergency Stop is triggered, it is of highest priority to stop ASAP, so when saving current parameters, as little CPU Cycles as necessary should be used for saving the current values. (this applies basically to the mode where the library is st

[2022-05-04 13:59] ba58smith commented on #29
Understood. Right now, it does this:
[code]
If I attach a callback, I can make it do whatever I want, and it could take a long time - which would delay the stopping of the motor. Maybe modify it like this:
[code]
Will `saveCurrentParameters()` run fast enough to not cause a problem? Because that's what my callback function will do - unless I don't need to save all of those parameters - I haven't l

[2022-05-04 14:57] pkerspe commented on #29
Maybe we should add a flag to enable this saveCurrentParameter option in general. So it would be up to the user if he wants a "resume after emergency stop" mode or not. That way we could only call the "saveCurrentParameters" when the flag is true.
Also I would not call it in an else statement, since this might lead to confusion on user side that his logic with resuming only works as long as he doe

[2022-05-04 15:10] ba58smith commented on #29
Both good points. I'll make a flag, and then check the flag before saving, instead of always saving in the `else`. Thanks!

[2022-05-06 18:40] ba58smith commented on #29
Working on the PR for this, but I may have come upon a show stopper. When emergencyStop() is called, processMovement() looks for a configured brake, and if it's not yet activated, it is now activated. The fact that there is the possibility of an external braking mechanism makes me wonder "Does the motor ever keep turning after an emergencyStop() is issued, simply because of the momentum of whateve

[2022-05-07 06:47] pkerspe commented on #29
@ba58smith You are right, if a stepper spins at high speed and maybe even has some load attached, it is very likely that an emergency stop will result in the stepper overshooting. Precision after an emergency stop does not have highest priority, but coming to the quickest possible way to come to a halt.
It is probably a good idea to perform a homing run after an emergency stop from higher speeds.

[2022-05-07 14:28] ba58smith commented on #29
@pkerspe - even if you ARE using a closed loop stepper, FlexyStepper won't know about those "extra steps", will it? The motor (or the motor controller) will know, but does FlexyStepper have a way to get that info from the motor(controller)?. I don't see a way to get it. Thx. (The PR is almost ready. This question is just for the comments.)

[2022-05-07 18:46] pkerspe commented on #29
Fleecy stepper does not care about closed loop,  it the would be a basic requirement to have such system before thinking about precision :-)

[2022-09-21 06:41] Freeejack opened #30 "Guru Meditation Error: Core 1 panic'ed (InstrFetchProhibited). Exception was unhandled."
Hi!

Yesterday i run into the problem below:

08:33:30.981 -> Guru Meditation Error: Core  1 panic'ed (InstrFetchProhibited). Exception was unhandled.
08:33:31.028 -> Core 1 register dump:
08:33:31.028 -> PC      : 0x000005dc  PS      : 0x00060030  A0      : 0x800d14d8  A1      : 0x3ffb8be0
08:33:31.028 -> A2      : 0x3ffbfe78  A3      : 0x000005dc  A4      : 0x00000001  A5      : 0xfffffdb3
08:33

[2022-09-21 22:14] pkerspe commented on #30
It is hard to tell why you receive this error, since I do not know about your other code.

Have a look at this page to get more details about the guru mediation / "InstrFetchProhibited" error:

https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/fatal-errors.html#guru-meditation-errors

Also please provide details on
- the esp32 type/model you are using,
- the espressif framewor

[2022-09-21 22:19] #14 closed, assigned to nobody

[2022-09-21 22:20] #12 closed, assigned to nobody

[2022-09-21 22:21] #25 closed, assigned to nobody

[2022-09-21 22:21] pkerspe commented on #25
Closed due to missing feedback / no updates for 7 months